numpy<2.0.0
scipy
scikit-learn
umap-learn
matplotlib
seaborn
plotly
streamlit
torch
torchvision
transformers>=4.43.0
diffusers==0.31.0
accelerate
opencv-python
Pillow
jsonlines
tqdm
pyyaml
types-PyYAML
einops
safetensors
sentencepiece
protobuf
